.section{
    display: flex;
    align-items: center;
    &__img{
        margin-left: 5%;
        margin-top: 45px;
    }
    &__info{
        display: flex;
        flex-direction: column;
        padding-left:100px ;
        padding-right: 100px;
        font-size: 20px;
        color: $colorLettersHeader;
        &--fontFamilyH1{
            margin: 0;
            font-family: 'Poppins', sans-serif;
        }
        &--fontFamilyP{
            font-family: 'Open Sans', sans-serif;
        }
    }
    &__button{
        background-color: $colorButtonHeader;
        border: none;
        border-radius: 5px;
        padding: 10px 50px;
        box-shadow: $shadowBottonHeader;
        cursor: pointer;
        &:hover{
            background-color: $colorHoverButtonHeader;
        }
    }
}