$colorBackGround:rgb(103, 75, 175);
$imgBackGround:url(../img/bg-desktop.svg);
$colorLettersHeader:rgb(255, 255, 255);
$colorButtonHeader:rgb(255, 255, 255);
$colorHoverButtonHeader:rgba(255, 255, 255, 0.829);
$shadowBottonHeader:2px 2px black;
$colorHoverIconFooterFacebook:rgb(0, 0, 255);
$colorHoverIconFooterInstagram:rgb(225, 48, 108);
$colorHoverIconFooterGitHub:rgb(75, 22, 22);